<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding: 30px;
        }
    </style>
</head>

<body>
    <h1>All Animals</h1>
    <a class="btn btn-primary" href="/new">New Animal</a>
    <br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i<animals.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= animals[i].name %></td>
                <td><%= animals[i].type %></td>
                <td><%= animals[i].age %></td>
                <td><a href="/animals/<%= animals[i]._id %>">View</a> | <a href="/animals/edit/<%= animals[i]._id %>">Edit</a> | <a href="/animals/destroy/<%= animals[i]._id %>">Delete</a></td>
            </tr>
            <%}%>
          </tbody>
    </table>
</body>
</html>