<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= cat.name%></title>
</head>
<body>
    <h1>Details for <%= cat.name%></h1>
    <img src="/images/<%= cat.src%>" alt="<%= cat.name%>">
    <p style="background-color: #c17cd0">
        Favourite food: <%= cat.food%>
    </p>
    <p style="background-color: #aa4cbc">
        age: <%= cat.age%>
    </p>
    <p style="background-color: #8704a0">
        Sleeping spots:
        <br>
        <% for (var sleep of cat.sleeping){ %>
            <%= sleep%>
            <br>
        <% } %>
    </p>
</body>
</html>