<html>

<head>
    <title>Dojo Survey Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Submitted Info</h1>
    <p>Name: <%= data.name%></p>
    <p>Dojo Location: <%= data.location%></p>
    <p>Favourite Language: <%= data.language %></p>
    <p>Favourite OS: <%= data.os %></p>
    <p>Platforms: <%= data.platforms %></p>
    <p>Comment: <%= data.comment %></p>
    <br><br>
    <a href="/" class="btn btn-primary">Go Back</a>
</body>

</html>